<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-left">
      粤ICP备16108200&nbsp;|&nbsp;
      &copy; <%= date(new Date(), 'YYYY') %> AI搬砖工&nbsp;|&nbsp;
      <%= __('theme_by') %> <a href="https://github.com/giscafer/hexo-theme-cafe/" target="_blank">Cafe</a>
    </div>
    <div id="footer-right">
      <%= __('contact') %>&nbsp;|&nbsp;gzkeith@live.cn
    </div>
  </div>
</footer>
 <%- js('jquery/jquery.min.js') %>